USE [CHUNGKHOAN]
GO
/****** Object:  Table [dbo].[BangGiaTrucTuyen]    Script Date: 03/05/2022 11:20:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangGiaTrucTuyen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaCP] [nchar](7) NOT NULL,
	[GiaMua3] [float] NULL,
	[SoLuongMua3] [int] NULL,
	[GiaMua2] [float] NULL,
	[SoLuongMua2] [int] NULL,
	[GiaMua1] [float] NULL,
	[SoLuongMua1] [int] NULL,
	[GiaBan1] [float] NULL,
	[SoLuongBan1] [int] NULL,
	[GiaBan2] [float] NULL,
	[SoLuongBan2] [int] NULL,
	[GiaBan3] [float] NULL,
	[SoLuongBan3] [int] NULL,
	[GiaKhop] [float] NULL,
	[SoLuongKhop] [int] NULL,
	[TongSo] [int] NULL,
 CONSTRAINT [PK__BangGiaT__3213E83F9BC91F30] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LENHDAT]    Script Date: 03/05/2022 11:20:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHDAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACP] [nchar](7) NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[LOAIGD] [nchar](1) NOT NULL,
	[LOAILENH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIADAT] [float] NOT NULL,
	[TRANGTHAILENH] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_LENHDAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LENHKHOP]    Script Date: 03/05/2022 11:20:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHKHOP](
	[IDKHOP] [int] IDENTITY(1,1) NOT NULL,
	[NGAYKHOP] [datetime] NOT NULL,
	[SOLUONGKHOP] [int] NOT NULL,
	[GIAKHOP] [float] NOT NULL,
	[IDLENHDAT] [int] NOT NULL,
 CONSTRAINT [PK_LENHKHOP] PRIMARY KEY CLUSTERED 
(
	[IDKHOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangGiaTrucTuyen] ON 

INSERT [dbo].[BangGiaTrucTuyen] ([ID], [MaCP], [GiaMua3], [SoLuongMua3], [GiaMua2], [SoLuongMua2], [GiaMua1], [SoLuongMua1], [GiaBan1], [SoLuongBan1], [GiaBan2], [SoLuongBan2], [GiaBan3], [SoLuongBan3], [GiaKhop], [SoLuongKhop], [TongSo]) VALUES (8, N'A      ', 1300, 2000, 1300, 3000, 1400, 3000, 1000, 2200, 1200, 3009, 1200, 3300, 1500, 3000, 5000)
INSERT [dbo].[BangGiaTrucTuyen] ([ID], [MaCP], [GiaMua3], [SoLuongMua3], [GiaMua2], [SoLuongMua2], [GiaMua1], [SoLuongMua1], [GiaBan1], [SoLuongBan1], [GiaBan2], [SoLuongBan2], [GiaBan3], [SoLuongBan3], [GiaKhop], [SoLuongKhop], [TongSo]) VALUES (9, N'B      ', NULL, NULL, NULL, NULL, 1500, 2000, NULL, NULL, NULL, NULL, NULL, NULL, 2000, 3500, 3500)
SET IDENTITY_INSERT [dbo].[BangGiaTrucTuyen] OFF
GO
SET IDENTITY_INSERT [dbo].[LENHDAT] ON 

INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (27, N'A      ', CAST(N'2022-05-03T10:00:00.000' AS DateTime), N'B', N'LO        ', 3009, 1200, N'Chờ khớp')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (28, N'A      ', CAST(N'2022-05-03T20:00:00.000' AS DateTime), N'M', N'LO        ', 2000, 1300, N'Chờ khớp')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (29, N'A      ', CAST(N'2022-05-03T21:00:00.000' AS DateTime), N'B', N'LO        ', 3300, 1200, N'Chờ khớp')
SET IDENTITY_INSERT [dbo].[LENHDAT] OFF
GO
SET IDENTITY_INSERT [dbo].[LENHKHOP] ON 

INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (2, CAST(N'2022-05-03T00:00:00.000' AS DateTime), 2000, 1300, 28)
INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (3, CAST(N'2022-05-03T00:00:00.000' AS DateTime), 3000, 1500, 35)
INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (4, CAST(N'2022-05-03T00:00:00.000' AS DateTime), 3500, 2000, 37)
SET IDENTITY_INSERT [dbo].[LENHKHOP] OFF
GO
ALTER TABLE [dbo].[BangGiaTrucTuyen] ADD  CONSTRAINT [DF_BangGiaTrucTuyen_TongSo]  DEFAULT ((0)) FOR [TongSo]
GO
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [FK__LENHKHOP__IDLENH__276EDEB3] FOREIGN KEY([IDLENHDAT])
REFERENCES [dbo].[LENHDAT] ([ID])
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [FK__LENHKHOP__IDLENH__276EDEB3]
GO
/****** Object:  StoredProcedure [dbo].[CursorLoaiGD]    Script Date: 03/05/2022 11:20:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CursorLoaiGD]
  @OutCrsr CURSOR VARYING OUTPUT, 
  @macp NVARCHAR( 10), @Ngay NVARCHAR( 10),  @LoaiGD CHAR 
AS
SET DATEFORMAT DMY 
IF (@LoaiGD='M') 
  SET @OutCrsr=CURSOR KEYSET FOR 
  SELECT NGAYDAT, SOLUONG, GIADAT FROM LENHDAT 
  WHERE MACP=@macp 
     AND DAY(NGAYDAT)=DAY(@Ngay)AND MONTH(NGAYDAT)= MONTH(@Ngay) 	   AND YEAR(NGAYDAT)=YEAR(@Ngay)  
     AND LOAIGD=@LoaiGD AND SOLUONG >0  
    ORDER BY GIADAT DESC, NGAYDAT 
ELSE
  SET @OutCrsr=CURSOR KEYSET FOR 
  SELECT NGAYDAT, SOLUONG, GIADAT FROM LENHDAT 
  WHERE MACP=@macp 
    AND DAY(NGAYDAT)=DAY(@Ngay)AND MONTH(NGAYDAT)= MONTH(@Ngay) 	AND YEAR(NGAYDAT)=YEAR(@Ngay)  
    AND LOAIGD=@LoaiGD AND SOLUONG >0  
    ORDER BY GIADAT, NGAYDAT 
OPEN @OutCrsr
GO
