@{
    ViewBag.Title = "Home Page";

}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width" />
<title>Index</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="~/Content/cover.css" rel="stylesheet" />
@section Scripts{
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>

    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var notifications = $.connection.myHub;
            //debugger;
            // Create a function that the hub can call to broadcast messages.
            notifications.client.updateMessages = function () {
                getAllMessages()
            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                console.log("connection started")
                //notifications.onconn();
                getAllMessages();
            }).fail(function (e) {
                alert(e);
            });
        });
        function getAllMessages() {
            console.log("here!")
            var tbl = $('#messagesTable');
            $.ajax({
                url: '/Home/GetMessages',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    //console.log(result);
                    var a2 = JSON.parse(result);
                    tbl.empty();
                    var i = 1;
                    $.each(a2, function (key, value) {
                        tbl.append('<tr>' + '<td style="background-color: #da5a4c; color: white;">' + value.MaCP + '</td>' + '<td>' + value.GiaMua3 + '</td>' + '<td>' + value.SoLuongMua3 + '</td>'
                            + '<td>' + value.GiaMua2 + '</td>' + '<td>' + value.SoLuongMua2 + '</td>'
                            + '<td>' + value.GiaMua1 + '</td>' + '<td>' + value.SoLuongMua1 + '</td>'
                            + '<td style="background-color: #f3ead2;">' + value.GiaKhop + '</td>' + '<td style="background-color: #f3ead2;">' + value.SoLuongKhop + '</td>'
                            + '<td>' + value.GiaBan1 + '</td>' + '<td>' + value.SoLuongBan1 + '</td>'
                            + '<td>' + value.GiaBan2 + '</td>' + '<td>' + value.SoLuongBan2 + '</td>'
                            + '<td>' + value.GiaBan3 + '</td>' + '<td>' + value.SoLuongBan3 + '</td>'
                            + '<td style="background-color: #a8d681;">' + value.TongSo + '</td>'
                            + '</tr>');
                       
                    });
                }
            });
        }
    </script>
}
<div class="container">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"><h1 style="text-align: center;">Bảng giá trực tuyến</h1></div>
            <div class="panel-body">

                <div>
                    <table id="tab"></table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-bordered table-responsive text-center">
                            <table class="table table-bordered">
                                <thead >
                                    <tr>
                                        <th rowspan="2" style="text-align: center; vertical-align: inherit; background-color: #c13525; color: white;">Mã Cổ Phiếu</th>
                                        <th colspan="6" style="text-align: center; background-color: #ff8652; color: white;">Bên mua</th>
                                        <th colspan="2" style="text-align: center; background-color: #ffbb43; color: white;">Khớp lệnh</th>
                                        <th colspan="6" style="text-align: center; background-color: #b6e9d1; color: white;">Bên bán</th>
                                        <th rowspan="2" style="text-align: center; vertical-align: inherit; background-color: #6da06f; color: white;">Tổng số</th>
                                    </tr>
                                    <tr>
                                        
                                        <th style="background-color: whitesmoke;">Giá Mua 3</th>
                                        <th style="background-color: whitesmoke;">Số Lượng Mua 3</th>
                                        <th style="background-color: whitesmoke;">Giá Mua 2</th>
                                        <th style="background-color: whitesmoke;">Số Lượng Mua 2</th>
                                        <th style="background-color: whitesmoke;">Giá Mua 1</th>
                                        <th style="background-color: whitesmoke;">Số Lượng Mua 1</th>
                                        <th style="background-color: #e3d7b9;">Giá Khớp</th>
                                        <th style="background-color: #e3d7b9; ">Số Lượng Khớp</th>
                                        <th style="background-color: whitesmoke;">Giá Bán 1</th>
                                        <th style="background-color: whitesmoke;">Số Lượng Bán 1</th>
                                        <th style="background-color: whitesmoke;">Giá Bán 2</th>
                                        <th style="background-color: whitesmoke;">Số Lượng Bán 2</th>
                                        <th style="background-color: whitesmoke;">Giá Bán 3</th>
                                        <th style="background-color: whitesmoke;">Số Lượng Bán 3</th>
                                        
                                    </tr>

                                </thead>
                                <tbody id="messagesTable"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

